absl-py==0.9.0
asgiref==3.2.7
astunparse==1.6.3
attrs==19.3.0
cachetools==3.1.1
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
Django==3.0.6
dm-tree==0.1.5
future==0.18.2
gast==0.3.3
google-auth==1.15.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
image==1.5.32
importlib-metadata==1.6.0
imutils==0.5.3
joblib==0.15.1
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lxml==4.5.1
Markdown==3.2.2
matplotlib==3.2.1
mpmath==1.1.0
numpy==1.18.4
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
Pillow==7.1.2
portpicker==1.3.1
protobuf==3.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytils==0.3
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.21.3
scipy==1.4.1
semantic-version==2.8.5
six==1.14.0
sqlparse==0.3.1
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-addons==0.9.1
tensorflow-estimator==2.2.0
tensorflow-federated==0.14.0
tensorflow-model-optimization==0.3.0
tensorflow-privacy==0.3.0
termcolor==1.1.0
tk==0.1.0
tools==0.1.9
torch==1.6.0
torchvision==0.7.0
typeguard==2.7.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
